<div>
    {% if entidades %}
    <div class="d-flex gap-5 m-3">
        <h3>Lista {{dicc["api"]}}</h3>
        <button class="btn btn-secondary" hx-get="{{dicc['url_api']}}/registrar" hx-target=".dashboard-contenido">Registrar {{dicc["api"]}}</button>
    </div>
    
    <h5>showintable: {{form.show_in_table}}</h5>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            {% for field in form if field.type != 'CSRFTokenField' %}
            {%if field.name in form.show_in_table %}<th class="text-capitalize">{{field.id}}</th>{%endif%}
            {% endfor %}
            <th>Accion</th>
        </tr>
        </thead>
        <tbody>
            {% for entidad in entidades %}
                <tr>
                    <td>{{entidad.id}}</td>

                    {%for key,value in entidad.items() if key in form.show_in_table %}
                    <td>{{value}}</td>
                    {%endfor%}
                    <td>
                        <button class="btn bg-none rounded-circle border border-2"
                        hx-get="{{dicc['url_api']}}/{{entidad.id}}"
                        hx-target=".dashboard-contenido"><i class="fas fa-pen"></i></button>                   
                        <button class="btn bg-none rounded-circle border border-2" hx-delete="{{dicc['url_api']}}/{{entidad.id}}" hx-confirm="¿Seguro que desea eliminar el aplicacion {{entidad.id}}?">
                        <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <table id="" class="display" style="width:100%">
        <thead>
            {%for key,value in entidades[0].items() %}
            <th>{{key}}</th>
            {%endfor%}
            <th>accion</th>
        </thead>
        <tbody id="cuerpo-tabla">
            {% for item in entidades %}
            <tr id="{{item.id}}">
                {% for key2,value2 in item.items() %}
                <td>{{value2}}</td>
                {%endfor%}
                <td>
                <button class="btn bg-none rounded-circle border border-2"
                hx-get="{{dicc['url_api']}}/{{item.id}}"
                hx-target=".dashboard-contenido"><i class="fas fa-pen"></i></button>                   
                <button class="btn bg-none rounded-circle border border-2" hx-delete="{{dicc['url_api']}}/{{item.id}}" hx-confirm="¿Seguro que desea eliminar el aplicacion {{item.id}}?">
                <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table> -->
    {%else%}
<div>
    No se han registrado {{dicc["api"]}}
    <button class="btn btn-secondary" hx-get="{{dicc['url_api']}}/registrar" hx-target=".dashboard-contenido">Registrar {{dicc["api"]}}</button>
  
</div>
    {%endif%}
</div>