<div>
    {% if entidades %}
    <div class="d-flex gap-5 m-3">
        <h3>Lista {{dicc["api"]}}</h3>
        <button class="btn btn-secondary" hx-get="{{dicc['url_api']}}/registrar" hx-target=".dashboard-contenido">Registrar {{dicc["api"]}}</button>
    </div>
    
    <h5>showintable: {{form.show_in_table}}</h5>
    <table id="datatable" class="display" style="width:100%" data-page-length='50'>
        <thead>
        <tr>
            <th>ID</th>
            <!-- {% for field in form if field.type != 'CSRFTokenField' %}
                {%if field.name in form.show_in_table %}
                <th class="text-capitalize">{{field.id}}</th>
                {%endif%}
            {% endfor %} -->
            {% for column_name in form.show_in_table%}
            <th class="text-capitalize">{{column_name}}</th>
            {%endfor%}
            <th>Accion</th>
        </tr>
        </thead>
        <tbody id="cuerpo-tabla">
            {% for entidad in entidades %}
                <tr id="{{entidad.id}}">
                    <td>{{entidad.id}}</td>

                    <!-- {%for key,value in entidad.items() if key in form.show_in_table %}
                    <td>{{value}}</td>
                    {%endfor%} -->

                    <!-- Solucion al problema Atributo no existe (error) -->
                    {%for column_name in form.show_in_table if column_name in entidad.keys()%} 
                    <td>{{entidad[column_name]}}</td>
                    {%endfor%}

                    <td>
                        <button class="btn bg-none rounded-circle border border-2"
                        hx-get="{{dicc['url_api']}}/{{entidad.id}}"
                        hx-target=".dashboard-contenido"><i class="fas fa-pen"></i></button>                   
                        <!-- <button class="btn bg-none rounded-circle border border-2" hx-delete="{{dicc['url_api']}}/{{entidad.id}}" hx-confirm="¿Seguro que desea eliminar el aplicacion {{entidad.id}}?">
                         -->
                         <button class="btn bg-none rounded-circle border border-2 remover-fila" data-id="{{entidad.id}}">
                            <i class="fas fa-trash"></i>
                        </button>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <!-- <table id="" class="display" style="width:100%">
        <thead>
            {%for key,value in entidades[0].items() %}
            <th>{{key}}</th>
            {%endfor%}
            <th>accion</th>
        </thead>
        <tbody id="cuerpo-tabla">
            {% for item in entidades %}
            <tr id="{{item.id}}">
                {% for key2,value2 in item.items() %}
                <td>{{value2}}</td>
                {%endfor%}
                <td>
                <button class="btn bg-none rounded-circle border border-2"
                hx-get="{{dicc['url_api']}}/{{item.id}}"
                hx-target=".dashboard-contenido"><i class="fas fa-pen"></i></button>                   
                <button class="btn bg-none rounded-circle border border-2" hx-delete="{{dicc['url_api']}}/{{item.id}}" hx-confirm="¿Seguro que desea eliminar el aplicacion {{item.id}}?">
                <i class="fas fa-trash"></i>
                </button>
                </td>
            </tr>
            {% endfor %}
        
        </tbody>
    </table> -->
    
    {%else%}
<div>
    No se han registrado {{dicc["api"]}}
    <button class="btn btn-secondary" hx-get="{{dicc['url_api']}}/registrar" hx-target=".dashboard-contenido">Registrar {{dicc["api"]}}</button>
  
</div>
    {%endif%}
</div>
<script>
    $(document).ready(function() {
      let datatable = new DataTable('#datatable')
      //console.log('{{entidades|safe}}')
      // Antes de cargar el nuevo componente, desvincula el evento anterior
    $(".contenido-principal-body").off("click", ".remover-fila");


    /* FUNCION ELIMINAR FILA */
    $(".contenido-principal-body").on("click", ".remover-fila", function () {
        let id = $(this).data("id");
        
        // Mostrar un cuadro de confirmación nativo
        let confirmacion = confirm(`¿Desea eliminar {{dicc['entidad']}} ${id}?`);
    
        if (confirmacion) {
            // Si el usuario hace clic en "Aceptar", enviar la solicitud AJAX al servidor
            $.ajax({
                url: '{{dicc["url_api"]}}/' + id,
                type: 'DELETE',
                success: function (res) {
                    // Manejar la respuesta del servidor
                    console.log(res);
                    if (res.status) {
                        $("#cuerpo-tabla")
                            .find("tr#" + id)
                            .remove();
                        toastr.success(res.msg, res.title, { timeOut: 3000 });
                    } else {
                        console.log(res.msg);
                        toastr.error(res.msg, res.title, { timeOut: 3000 });
                    }
                },
                error: function (xhr, status, error) {
                    // Manejar errores de la solicitud
                    console.error(xhr.responseText);
                }
            });
        } else {
            // Si el usuario hace clic en "Cancelar", no hacer nada
            console.log("Eliminación cancelada.");
        }
    });
   
    })
  </script>