
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/empresa"><i class="fas fa-home"></i></a></li>
        {%if empresa%}
        <li class="breadcrumb-item" aria-current="page"><a href="/empresa/{{empresa.empresa_id}}">{{empresa.nombre_empresa}}</a></li>
        {%endif%}
        {% if periodo %}
        <li class="breadcrumb-item" aria-current="page"><a href="/empresa/{{empresa.empresa_id}}/{{periodo.periodo_id}}">Dashboard {{periodo.periodo_fiscal}}</a></li>
        {%endif%}

        {%if page %}
        {%endif%}
      </ol>
    </nav>
    
    <style>
        .breadcrumb{
            margin: 0 0;
            display: flex !important;
            flex-direction: row !important;
            width: auto;
            height: auto;
            border: 1px solid green;

            font-family: "Roboto",sans-serif;
            font-size: 15px;
            font-weight: 300;
        }
        .bread{
            display: flex;

        }
    </style>
