
    <div class="sidebar-contenido">
        <div class="contenedor-link">
            <div class="link" data-url="/embarque">Registrar Embarque</div>
            <div class="link" data-url="/lista/embarque">Lista Embarque</div>
            <div class="link" data-url="/liquidacion">Registrar Liquidacion</div>
            <div class="link" data-url="/lista/liquidacion">Lista Liquidacion</div>

            <div class="link" data-url="/parcela/flujo_caja">Otro</div>
        </div>
    </div>
    <hr>
    <div class="side-btn mb-2" hx-get="/api/gasto/{{periodo_id}}" hx-target="#dashboard-contenido">Gasto {{periodo_id}}</div>
    <div class="side-btn mb-2" hx-get="/api/riego" hx-target="#dashboard-contenido">Riego {{periodo_id}}</div>
    <div class="side-btn mb-2" hx-get="/api/gasto/{{periodo_id}}" hx-target="#dashboard-contenido">Aplicaciones {{periodo_id}}</div>
    <div class="side-btn mb-2" hx-get="/api/gasto/{{periodo_id}}" hx-target="#dashboard-contenido">Registro Laboral {{periodo_id}}</div>


<style>
    .side-btn{
        display: flex;
        align-items: center;
        padding: 5px 5px;
        height: 50px;
        cursor: pointer;
        
    }
    .side-btn:hover{
            background-color: yellow;
        }
     
</style>