
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.main-wrapper{
    display: flex;
    flex-direction: row;
    width: 100%;
}

.main-sidebar{
    width:270px;
    margin-left: -270px;
    min-height: 100vh;
    transition: margin-left 0.3s ease; /* Cambiado a margin-left para la animación */
    position: fixed;
    z-index: 9999; /* POR ENCIMA DE TODO border: 2px solid rebeccapurple;*/
}
.main-sidebar.active{
    margin-left: 0;
}

/* Fondo oscuro */
.fondo_oscuro{
    background-color: #535353;
    opacity: 50%;
    height: 100%;
    width: 100%;
    position: fixed;
    display: none;
  }
.fondo_oscuro.sidebar-open{
    display: block;
    z-index: 9998; /* sidebar z-index 9999 */
}


.contenido-principal{
    width: 100%;
    display: flex;
    flex-direction: column;
    border: 1px solid red;
    min-height: 100vh;
    margin-left: 270px; /* Ajustar según el ancho de la barra lateral y el margen */
    overflow-x: scroll;
}
@media (max-width: 992px) {
    .contenido-principal {
        margin-left: 0 !important; /* !important se usa para asegurarse de que esta regla prevalezca sobre otras */
    }
}
.contenido-principal-header{
    padding: 3px 3px;
    border: 1px solid blue;
    display: flex;
    align-items: center;
    width: 100%;
}
.contenido-principal-body{
    border: 1px solid purple;
    margin: 2px 2px;
    flex-grow: 1;
    overflow: scroll;
}
/* test toast */
#test-toast{
    position: absolute;
    width: 200px;
    height: 50px;
    border: 1px solid red;
    right: 0;
    background-color: aqua;
}
/* MAIN SIDEBAR */
.main_sidebar{
    min-width: 250px;
    width: 250px;
    max-width: 250px;
    min-height: 100vh;
    border-radius: 20px;
    margin: 0 10px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom, #3b3b42 0%, #1e1e1f 100%);
    color: white;
    position: fixed;
}
.main_sidebar_head{
    margin: 20px 30px;
    display: flex;
    font-family: 'Roboto', sans-serif;
    gap: 10px;
    align-items : center;
}
.main_sidebar_body{
    flex-grow: 1; 
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.main_sidebar_footer{
    margin-bottom: 10px;
    height: 50px;
}

.hr-horizontal-light{
    background-color: transparent;
    background-image: linear-gradient(90deg,hsla(0,0%,100%,0),#fff,hsla(0,0%,100%,0));

}

.section-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 13px;
    height: auto;
    text-transform: uppercase;
}

.custom-item{
    margin-left: 40px;
    margin-right: 20px;
    background-color: transparent;
    border-radius: 10px !important;
    color: white;
    margin-bottom: 5px;
    border: none;
    display: flex;
    align-items: center;
}
.custom-item:hover{
    background-color: #4D4D50;
    color: red;
}
.custom-item.active:hover{
    background-color: #4D4D50;
    color: black;
}
.custom-item.active{
    background-color: red !important;
    border: none;
}

/* END MAIN SIDEBAR */

.contenedor-link{
    display: flex;
    flex-direction: column;
    column-gap: 10px;
}
.contenedor-link .link{
    padding: 5px 5px;
}
.contenedor-link .link:hover{
    background: yellow;
    cursor: pointer;
}
