{% extends 'layout.html' %}

{% block encabezado %}
{% endblock%}

{% block contenido %}
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <p>Mis empresas</p>
            <div class="list-group">
                {% if empresas %}
                {% for item in empresas %}
                <a href="/empresa/{{item.empresa_id}}"
                    class="list-group-item list-group-item-action">{{item.nombre_empresa}}</a>

                {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col">
            <a href="/empresa/crear" class="btn btn-secondary">Añadir Empresa</a>
        </div>



    </div>
    <div>
        Obtener reporte  <a href="/api/odepa">odepa</a>
        Test 2 -> <a href="/test">TEST</a>
    </div>

    
</div>
{% endblock %}